Source: hamonikr-snapshot
Section: admin
Priority: optional
Maintainer: Kevin <root@hamonikr.org>
Build-Depends: debhelper (>=10), qtbase5-dev, qttools5-dev-tools
Standards-Version: 3.9.8
Vcs-Git: git://github.com/hamonikr/hamonikr-snapshot

Package: hamonikr-snapshot
Architecture: any
Depends: menu,
         xdg-utils,
         squashfs-tools,
         syslinux-utils,
         xdg-user-dirs,
         xorriso (>= 1.4.6),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: hamonikr-iso-template         
Description: HamoniKR Snapshot
 Snapshot is a tool used for creating a live-CD from the running system.
